/* style.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    zoom: 120%;
}

header {
    background-color: #e49e61;
    color: white;
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; /* ヘッダーを前面に */
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.search-bar a {
    display: flex;
    align-items: center;
}

.search-bar .github-icon {
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.search-bar .github-icon:hover {
    transform: scale(1.1);
}


.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

.content-list {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.content-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.item-icon img {
    height: 50px;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.item-details h1 {
    margin: 0;
    font-size: 18px;
}

.item-details a {
    color: white;
}

.item-details .description {
    margin: 5px 0;
    font-size: 14px;
}

.color-code-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.color-code {
    font-size: 12px;
    color: white;
    margin: 0 0 5px 0;
}

.copy-btn {
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #ffcccb;
    color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.copy-btn:hover {
    background-color: #ff9999;
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    white-space: pre-wrap;
}

footer a {
    color: white;
    text-decoration: none;
}

.notification {
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4267B2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease;
}

.notification.show {
    bottom: 20px;
}